* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin-top: 120px;
}

.container {
    max-width: 780px;
    margin: 0 auto;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    padding: 1rem;
}

header img {
    max-height: 100%;
    margin-right: 25px;
}

.add-todo {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 28px;
    margin-block: 20px;
}

.add-todo input {
    flex-grow: 1;
    margin-right: 20px;
    border: 0;
    border-bottom: 2px solid black;
}

.add-todo input:focus {
    outline: 0;
    border-width: 3px;
    border-color: teal;
}

.add-todo button {
    background-color: hsl(180, 100%, 25%);
    color: white;
    font-weight: bold;
    padding: 7px 13px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.add-todo button:hover,
.add-todo button:active {
    background-color: hsl(180, 100%, 35%);
    color: black;
}

.filter-wrap {
    background-color: hsla(180, 100%, 35%, 0.25);
    padding: 13px;
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.filter-link {
    color: hsl(180, 100%, 25%);
    font-weight: bold;
    text-decoration: none;
    position: relative;
    padding-left: 40px;
}

.filter-link::before {
    content: '';
    width: 20px;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: -5px;
    left: 0;
    margin-right: 20px;
    border: 2px solid currentColor;
}

.todo-list {
    background-color: hsla(180, 100%, 35%, 0.45);
    padding-block: 20px;
    padding-inline: 20px;
    margin-top: 15px;
    border-radius: 8px;
}

.todo {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 5px 10px 35px; */
    margin-top: 15px;
    transition: all .1s ease-in-out;
    cursor: pointer;
    background-color: hsla(180, 0%, 100%, 0.28);
}

.todo:first-of-type {
    margin-top: 0;
}

.todo .delete {
    color: black;
    vertical-align: middle;
    margin-right: 10px;
}

.todo .delete:hover {
    color: hsl(8, 77%, 67%);
    cursor: pointer;
}

.todo.completed,
.todo.completede .todo-body {
    background-color: hsla(8, 77%, 67%, 0.45);
}
.todo-body {
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}

.todo.completed .todo-body {
    /* color: white; */
    text-decoration-color: black;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}