<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css' integrity='sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==' crossorigin='anonymous'/>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>

    <div id="app">
        <div class="container">
            <header>
                <img src="./img/icon-mountain-goat-animal-vector-20215875.jpg" alt="">
                <h3>Caprette Tibetane To Do List</h3>
            </header>

            <main class="todos">
                <section class="add-todo">
                    <input type="text" v-model.trim="newTodoText" placeholder="Cosa devi fare?" ref="inputText" @keyup.enter="addTodo">
                    <button @click="addTodo">Aggiungi</button>
                </section>
                <section class="todo-list">
                    <a v-if="!activeFilter" @click.prevent="toggleFilter" href="#">Mostra tutti i todo</a>
                    <a v-else="activeFilter" @click.prevent="toggleFilter" href="#">Mostra solo i Todo da completare</a>
                    <ul v-if="todos.length > 0">
                        <li v-for="(todo, i) in todos" class="todo" :class="{completed: todo.completed}" @click="toggleCompleted(i)" v-show="(activeFilter) || (!todo.completed)">

                            <!-- (filterActive === false) || (filterActive === true && todo.completed === false) -->


                            <span class="todo-body">{{todos[i].text}}</span>
                            <i class="fas fa-trash delete" @click="removeTodo(i)"></i>
                        </li>
                    </ul>
                    <h2 v-else="todos.length == 0">Non ci sono Todos, aggiungine uno adesso!</h2>
                </section>
            </main>
            <footer>

            </footer>
        </div>
        
    </div>
    <script src="js/main.js"></script>
</body>
</html>